.WebAnalytics {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--modifier {
      font-family: "Train One", sans-serif;
      font-size: 2.5rem;
      color: #51977d;
    }
    &--modifierList {
      font-size: 1.5rem;
      font-family: "Jost", sans-serif;
      color: #f5c124;
      font-weight: 700;
      list-style: none;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40%;
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    color: #f5c124;
    font-weight: 700;
  }
}
