.OurHiglights {
  display: flex;
  height: 436px;
  justify-content: space-around;
  &__Video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    iframe {
      border-radius: 10px;
    }
  }

  &__Text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "FuturaMdBTBold", sans-serif;
    flex-direction: column;

    .title {
      font-size: 2.15rem;
    }

    .description {
      font-size: 1.2rem;
    }
  }
}
