.companyCard {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
  &__image {
    margin: 0;
    &--modifier {
      width: 150px;
      height: 150px;
    }
  }
}
