.contact {
    width: 100%;
    height: 428px;
    display: flex;
    justify-content: center;
    font-family: "FuturaMdBTBold", sans-serif;
    margin-top: 40px;


    .container {
        width: 85%;
        border-radius: 75px;
        background: #F4F9FF;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact__content {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
        }

        .contact__form {
            width: 70%;
            height: 80%;
            position: relative;
            z-index: 1;

            .form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .input {
                    width: 90%;

                    input[type="text"],
                    input[type="email"],
                    textarea {
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        padding: 12px;
                        font-size: 16px;
                        line-height: 1.4;
                        width: 90%;
                    }
                }

                .submitButton {
                    width: 200px;
                    height: 70px;
                    border-radius: 60px;
                    border: 0;
                    background-color: #19957D;
                    font-size: 1.25rem;
                    color: white;
                    transition: box-shadow 0.3s ease;
                    /* Agregamos una transición suave para la sombra */
                }

                .submitButton:hover {
                    outline: none;
                    /* Quitamos el contorno por defecto */
                    box-shadow: 0 0 8px rgba(25, 149, 125, 0.8);
                    /* Agregamos una sombra al enfocar */
                }
            }






        }

        .contact__form-bg {
            position: absolute;
            top: 0;
            right: 52px;
            width: 50%;
            height: 100%;
            border-radius: 20px 20px 20px 20px;
            z-index: -1;
            background-color: #F6BD0F;
        }
    }

}