.companiesContainer {
  background-color: #78328d;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  text-align: center;

  &__title {
    width: 50vw;
    color: white;
  }

  &__images {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
