@import "../../variables";
.footer {
  display: flex;
  max-height: 20vh;
  background-image: url("assets/images/AREA_FIJA_PAGINA/FONDO_ROSA.svg");
  flex-direction: column;
  z-index: 1;
  font-family: "Jost", sans-serif;
  position: absolute;
  width: 100vw;
  bottom: 0;
  &__title {
    margin: 0;
    letter-spacing: 1.5rem;
    text-align: center;
    font-size: 64px;
    text-indent: 10px;
    font-weight: 700;
    color: $white;
    z-index: 2;
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    z-index: 2;
    color: $white;
    &--img {
      width: 30px;
      height: 30px;
    }
  }
}
