.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.footer__title {
  grid-area: 1 / 1 / 2 / 6;
}
.footer__content--left {
  grid-area: 2 / 1 / 3 / 2;
}
.footer__content--right {
  grid-area: 2 / 2 / 3 / 3;
}
